.hero {
    position: relative;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('/assets/homePage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width: $break-med) {
        min-height: 300px;
        padding: 40px;
    }
    @media(max-width: 480px) {
        padding: 0px;
    }
}

.homePageInstructions {
    background-image: url(../../assets/yellow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}   

.home__graphic {
    height: 30vh;
    width: 100%;
    padding: 36px 0;
    color: $color-dkgray;
    img {
        max-width: 100px;
        float: left;
        margin: 25px 25px;
        @media(max-width: 1110px) {
            max-width: 80px;
        }
        @media(max-width: 940px) {
            display: none;
        }
    }
    ol,
    .toyCollection {
        float: left;
        width: 41%;
    }    
    .toyCollection {
        width: 58%;
    }
    ol {
        @media(max-width: 940px) {
            width: 100%;
            padding: 0;
            // text-align: center;
        }
    }
    li {
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        line-height:1.8;
        &:last-child {
            margin-bottom: 0;
        }
        @media(max-width: 940px) {
            float: left;
            width: calc(33.3% - 5px);
            font-size: 1.4rem;
            margin-right: 5px;
            display: block;
            text-align: center;
        }
        @media(max-width: 880px) {
            width: 100%;
        }
    }
}

.home__description {
    padding-right: 23px;
}

.linkToDash {
    min-height: 30px;
    background: $color-ac2;
    position: relative;
    @include remCalc(20);
    > * {
        @extend .layout__XYCenter;
        color: black;
        &:visited {
            color: black;
        }
    }
    @media(max-width: 400px) {
        h4 {
            font-size:1rem;
        }
    }
}

.searchContainer {
    background-color: rgba(255,255,255,0.7);
    padding: 40px 60px;
    @media(max-width: 768px) {
        padding: 30px 40px;
    }
    // @media(max-width: 480px) {
    //     padding: 20px 35px;
    // }
    form {
        min-width: 350px;
        @media(max-width: 480px) {
            min-width: 300px;
        }
    }
    input {
        width: 100%;
    }
    p {
        margin-bottom: 15px;
        font-size: 2.5rem;
        text-align: center;
        color: #888;
        @media(max-width: 768px) {
            font-size: 2rem;
        }
        @media(max-width: 480px) {
            display: none;
        }

    }
    .searchResult {
        background-color: $color-ltgray;
        margin: 25px 0;
        padding: 20px;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        P {
            font-size: 1.6rem;
        }
    }
}

